
.navbar-collapse{
    justify-content: flex-end;
}

.header{
    position: relative;
    background-image: url('https://source.unsplash.com/random');
    background-size: cover;
	background-position: center;
   }

.overlay {
    top:0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background: rgba(244, 244 , 244, .7)
}

.description {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.about{
    margin: 4em 0;
    padding: 1em;
    position: relative;
   }
   .about h1{
    color:#F97300;
    margin: 2em;
   }
   .about img{
    height: 100%;
       width: 100%;
       border-radius: 50%
   }
   .about span{
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
   }
   .about .desc{
    padding: 2em;
    border-left:4px solid #10828C;
   }
   .about .desc h3{
    color: #10828C;
   }
   .about .desc p{
    line-height:2;
    color:#888;
   }